**/aura/**/*.auradoc
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt
**/aura/**/*.json
**/aura/**/*.svg
**/aura/**/*.xml
**/aura/**/*.tokens
**/lwc/**/*.css
**/lwc/**/*.html
**/lwc/**/*.json
**/lwc/**/*.svg
**/lwc/**/*.xml
**/test/**/*.css
**/test/**/*.html
**/test/**/*.json
**/test/**/*.svg
**/test/**/*.xml
.sfdx