{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["**/lwc/**/*.html", "force-app/stubs/**/*.html", "force-app/test/**/*.html"],
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}